<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Onboard your card</h2>
    <form class="" action="index.html" method="post">
      <div class="form-group">
        <label for="inputCardNumber">Card Number</label>
        <input type="text" class="form-control" id="inputCardNumber" placeholder="1234 5678 9876 1234">
      </div>
      <div class="form-group">
        <label for="inputExpMonth">Exp Month</label>
        <input type="text" class="form-control" id="inputExpMonth" placeholder="07">
      </div>
      <div class="form-group">
        <label for="inputExp Year">Exp Year</label>
        <input type="text" class="form-control" id="inputExp Year" placeholder="2020">
      </div>
      <button type="submit" class="btn btn-primary">Add Card</button>
    </form>

  </body>
</html>
